<ion-menu menuId="first" contentId="main" >

    <ion-content class="menuContent" color="dark">

        <div class="menuHeader"></div>
        <div class="headerContent">
            <img class="avatar" src="../../../assets/img/user.svg" alt="">
            <ion-label>
                <h3>Bienvenido</h3>
                <h2>Nombre Usuario</h2>
                <p>Tutum - clientes</p>
            </ion-label>

        </div>

        <ion-list  class="menu-items">

            <ion-item lines="none" color="dark">
                <ion-icon slot="start" name="document-attach-outline"></ion-icon>
                <span class="items">Historial Solicitudes</span>
            </ion-item>
            
            <ion-item lines="none" color="dark">
                <ion-icon slot="start" name="hammer-outline"></ion-icon>
                Contratos en Curso
            </ion-item>

            <ion-item lines="none" color="dark">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                Perfil
            </ion-item>

            <ion-item lines="none" color="dark">
                <ion-icon slot="start" name="heart-outline"></ion-icon>
                Favoritos
            </ion-item>
            <ion-item lines="none" color="dark">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                Cerrar Sesión
            </ion-item>

        </ion-list>

        <div class="menuFooter">
            <div class="footerContent">
            <img class="logo" src="../../../assets/img/logo.svg" alt="">
        </div>
        </div>
        
    </ion-content>
</ion-menu>